.add-beer-section{

    width: 100%;
    height: 85vh;
    display: flex;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    place-items: center;
}


.add-beer-form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

.add-beer-form{
    width: 50%;
    min-width: 331.5px;
}

.add-beer-form label{
    font-weight: 500;
}


.beer-form-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.beer-form-3 div{
    padding: 10px;
    
}
.beer-form-3 div input{
    width:100%;
    
}

.beer-form-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.beer-form-4 div{
    padding: 10px;
    
}
.beer-form-4 div input{
    width:100%;
    
}


.beer-form-description{
    display: block;
    padding: 10px;
}

.beer-form-description textarea{
    width: 100%;
}

.add-beer-image{
    display: flex;
    justify-content: center;
    align-items: center;;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px;
}
.add-beer-image img{
    width: 100%;
    min-width: 365px;
    height: auto;
}

.add-beer-image::before{
    position: absolute;
    content: "No image yet";
    z-index: -1;
    font-size: 10px;
}